<mat-toolbar color="primary">
  </mat-toolbar>
  <div class="container">
    <h1>Добро пожаловать в систему управления библиотекой</h1>
    <p>С помощью нашего приложения вы можете:</p>
    <ul>
      <li>Просматривать и управлять <strong>каталогом книг</strong>.</li>
      <li>Отслеживать <strong>выдачи книг</strong>.</li>
      <li>Работать с удобной системой авторизации и профиля.</li>
    </ul>
    <p>Пожалуйста, используйте меню вверху страницы для навигации по разделам.</p>
    <p><strong>Самый популярный автор:</strong> {{ mostRentedAuthor }}</p>
</div>